/* Index */

#fondo_top{
	background-image: url("../imagen/fondo-paisaje.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0px;
}

#fondo_sobre_mi{
	background-image: url("../imagen/fondo-desk.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0px;
}

#fondo_portafolio{
	background-image: url("../imagen/fondo-computer.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0px;
}

#fondo_contacto{
	background-image: url("../imagen/fondo-agustin.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0px;
}

#portada{
	background-color: #949BA8; 
	background-size: 100px;
}

.index-background{
	padding: 30px;
	text-align: center;
	background: rgb(56,176,222);
background: linear-gradient(90deg, rgba(56,176,222,1) 0%, rgba(66,136,255,1) 50%, rgba(0,74,255,1) 100%);
}

.titulo{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.contenido{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.pie{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

/* Portafolio */

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Formulario de Contacto */

.form-label{
	font-weight: bold;
	text-align: left;
}

.image-size-index{
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.image-size-detalle{
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

.formulario-inicio {
	margin: auto;
  position: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 50%; 
  height: 50%;
  min-width: 500px;
  max-width: 500px;
  padding: 40px;
}

